<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Datos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Datos.My.MySettings>
            <setting name="Datos_localhost_WSPrueba" serializeAs="String">
                <value>http://localhost:2602/WSPrueba.asmx</value>
            </setting>
            <setting name="Datos_WSAportante_WSAportante" serializeAs="String">
                <value>http://localhost:2602/WSAportante.asmx</value>
            </setting>
            <setting name="Datos_WSFondos_WSFondos" serializeAs="String">
                <value>http://localhost:2602/WSFondos.asmx</value>
            </setting>
            <setting name="Datos_WSGrupoAportantes_WSGrupoAportantes" serializeAs="String">
                <value>http://localhost:2602/WSGrupoAportantes.asmx</value>
            </setting>
            <setting name="Datos_WSUsuarios_WSUsuarios" serializeAs="String">
                <value>http://localhost:2602/WSUsuarios.asmx</value>
            </setting>
            <setting name="Datos_WSApGp_WSApGp" serializeAs="String">
                <value>http://localhost:2602/WSApGp.asmx</value>
            </setting>
            <setting name="Datos_WSSeries_WSSeries" serializeAs="String">
                <value>http://localhost:2602/WSSeries.asmx</value>
            </setting>
        </Datos.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
